{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}

{# <div class="product-title" style="background-image: url({{ product.photo }})">

</div> #}

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">

            <h3>{{product.name}}</h3>
            {# <p>{{product.introduction}}</p> #}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in product.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                <div class="carousel-inner">
                    {% for image in product.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{image.url}}" alt="First slide">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
                </div>

                <div class="container">
                    {{ product.description | raw }}
                </div>

        </div>
        <div class="col">
            <div class="row">
                {# <div class="col-4">
                    <img src="http://placehold.it/64x64" alt="Avatar de Joseph">
                </div> #}

                <div class="col">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <h3><strong>{{product.price}}&euro;</strong></h3>
                            <span class="badge badge-primary"><strong>{{product.quantity}} produits en stock</strong></span>
                        </div>
                        <div class="card-body">
                            {# <div class="container"> #}
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, exercitationem repellat. Aspernatur quam veritatis accusamus asperiores minus tenetur quae aut!</p>
                            {# </div> #}
                                <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}